[submodule ".massivewikibuilder/massivewikibuilder"]
	path = .massivewikibuilder/massivewikibuilder
	url = https://github.com/peterkaminski/massivewikibuilder.git
	branch = wla-mwb3-20230406
[submodule ".massivewikibuilder/massive-wiki-themes"]
	path = .massivewikibuilder/massive-wiki-themes
	url = https://github.com/peterkaminski/massive-wiki-themes.git
